.input-avaliacoes {
    margin: 10px;
    margin-left: 2px;
    width: 100%;
    height: 150px;
}

.star-rating {
    display: flex;
    margin-top: 20px;
}

.star {
    font-size: 32px;
    margin: 0 5px;
    cursor: pointer;
}

.card-input-avaliacoes {
    width: 400px;
}
