.input-avaliacoes {
  height: 100px;
  min-height: 200px; /* Altura mínima para o campo de comentário */
  width: 97%; /* Largura total dentro do contêiner */
  margin-bottom: 20px;
}

.comentario {
  margin-top: 20px;
  width: 100%;
  max-width: 400px; /* Define a largura máxima do campo de comentário */
  margin-bottom: 16px; /* Espaço entre o campo de comentário e o botão */
}

.submit-button {
  display: block;
  margin: 0 auto;
  width: 200px; /* Largura do botão */
  text-align: center;
}

.comentario-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 16px;
}


.star-rating {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.star {
  font-size: 32px;
  margin: 0 5px;
  cursor: pointer;
}


.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content1 {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.custom-modal {
  --width: 800px;
  /* Defina a largura desejada */
  --height: 500px;
  /* Defina a altura desejada */
  --max-width: 90vw;
  /* Limite de largura máximo para telas pequenas */
  --max-height: 50vh;
  /* Limite de altura máximo para telas pequenas */
  
}

.custom-card {
  width: 90%;
  max-width: 950px;
  /* Defina um limite máximo para larguras maiores */
  height: 45%;
  max-height: 900px;
  /* Para manter uma altura máxima */
  margin: 20px auto;
  /* Centralizar horizontalmente com espaçamento */
  color: var(--ion-text-color);
  background-color: var(--ion-color-primary-shade);
  display: flex;

}

@media (max-width: 768px) {
  /* Ajustes para telas menores */
  .custom-card {
    width: 95%;
    padding: 10px;
  }
}



.custom-card p {
  font-size: 15px;
  /* Diminuir o tamanho do texto */
  margin: 8px 0;
  /* Ajustar o espaçamento entre parágrafos */
}

.button-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh; /* Define a altura do container como a altura da tela */
}

.content-verde {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  overflow: hidden;

}

.content-avaliacao {
  height: 100%;
}