.img-cadastro{
    width: 350px;
    margin: 0 auto;
}

.row-cadastro{
    align-items: center;
    justify-content: center;
    text-align: left;
}

.input-cadastro {
    margin-bottom: 10px;

}

.voltar {
    text-decoration: none;
    display: flex;
    color: #2ea14d;
}

.voltar:hover {
    text-decoration: none;
    color: #065a1c;
}

.input-cadastro .label-text {
    font-size: 15px; /* Ajuste o tamanho da fonte conforme necessário */
}



