:root {
  --verde: rgb(41, 149, 117);
  --branco: rgb(255, 255, 255);
  --preto: rgb(25, 31, 27);
}


.container {
  color: var(--branco);
  background:  linear-gradient( 340deg,  rgb(40, 150, 20) , rgb(40, 100, 10), rgb(50, 80, 50)  );
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 15px;
  box-shadow: 0 0.1rem 0.5rem #23df73;
  width: 100%;
  background: var(--ion-background-color);
  transition: all 0.5s;
  position: fixed;
}

.navigation .logo {
  height: 58px;
  width: 80px;
}

.logo span {
  color: var(--preto);
}

.menu {
  color: var(--branco);
}

.home {
  width: 100%;
  
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 10%;
}

.home-text {
  max-width: 42rem;
}

.home-text .text-h2 {
  font-size: 3rem;
  color: var(--verde);
}

.home-text .text-h1 {
  font-size: 4rem;
}

.home-text p {
  margin-bottom: 50px;
}

.home-cad {
  padding: 15px 45px;
  background: var(--verde);
  color: var(--branco);
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.5s;
}

.home-cad:hover {
  background: rgb(30, 130, 90);
}

.home-img {
  margin-left: 5%;
  margin-right: 5%;
}

.home-img img {
  width: 100%;
}

.teste {
  background: content-box radial-gradient(rgb(3, 161, 0), rgb(139, 139, 139), rgb(120,20,90));
  /* background: linear-gradient( 3deg,  rgb(50, 80, 50) , rgb(40, 100, 10), rgb(40, 150, 20)  ); */
  text-align: center;

  padding: 10px;
  height: 450px;
}

.carousel {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divbox {
  background-color: #bbafaf;
  border-radius: 10px;
  position: absolute;
  margin: 20px;
  padding: 10px;
  text-align: center;
  opacity: 0;
  will-change: transform, opacity;
  animation: carousel 15s linear infinite;
}

.divbox:nth-child(1) {
  animation-delay: -3s;
}

.divbox:nth-child(2) {
  animation-delay: 0;
}

.divbox:nth-child(3) {
  animation-delay: 3s;
}

.divbox:nth-child(4) {
  animation-delay: 6s;
}

.divbox:last-child {
  animation-delay: 9s;
}

footer {
  text-align: center;
  padding: 2px;
  background-color: rgb(13, 20, 18);
}


@keyframes carousel {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }

  3%,
  20% {
    /* 3, 100/total number of cards */
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }

  23%,
  40% {
    /* [(100/total number of cards) + 3], [(100/number of cards) * 2] */
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }

  43%,
  60% {
    /* [(100/total number of cards)*2 + 3], [(100/number of cards) * 3] */
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }

  63% {
    /* [(100/total number of cards) * 3] + 3 */
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }

  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width:785px) {
  .home {
    padding: 100px 2%;
    flex-direction: column;
    text-align: center;
    overflow: auto;
    align-items: center;
    gap: 2rem;
  }

  .home .text-h2 {
    font-size: 32px;
  }

  .home .text-h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .home p {
    font-size: 15px;
  }

  .home-img {
    width: 115%;
  }

  .home-img img {
    width: 80%;
  }

  .testimonials {
    padding: 10px;
    flex-direction: column;
    text-align: center;
    overflow: auto;
    gap: 30rem;
  }

  .carousel {
    flex-direction: column;
    height: 300px;
  }
  

  @keyframes carousel {
    0% {
      transform: translateY(50%) scale(0.5);
      opacity: 0;
    }

    3%,
    20% {
      transform: translateY(50%) scale(0.7);
      opacity: 0.4;
    }

    23%,
    40% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }

    43%,
    60% {
      transform: translateY(-25%) scale(0.7);
      opacity: 0.4;
    }

    63% {
      transform: translateY(-50%) scale(0.5);
      opacity: 0;
    }

    100% {
      transform: translateY(-50%) scale(0.5);
      opacity: 0;
    }
  }
}

