:root {
  --verde: rgb(41, 149, 117);
  --branco: rgb(255, 255, 255);
  --preto: rgb(25, 31, 27);
}


.container {
  color: var(--branco);
  background: linear-gradient(340deg, rgb(40, 150, 20), rgb(40, 100, 10), rgb(50, 80, 50));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 15px;
  box-shadow: 0 0.1rem 0.5rem #23df73;
  width: 100%;
  background: var(--ion-background-color);
  transition: all 0.5s;
  position: fixed;
}

.navigation .logo {
  height: 58px;
  width: 80px;
}

.logo span {
  color: var(--preto);
}

.menu {
  color: var(--branco);
}

.home {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 205px 10%;
}

.home-text {
  max-width: 42rem;
}

.home-text .text-h2 {
  font-size: 3rem;
  color: rgb(240, 248, 255);
}

.home-text .text-h1 {
  font-size: 4rem;
}

.home-text p {
  margin-bottom: 50px;
}

.home-cad {
  padding: 15px 45px;
  background: var(--verde);
  color: var(--branco);
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.5s;
}

.home-cad:hover {
  background: rgb(30, 130, 90);
}

.home-img {
  margin-left: 5%;
  margin-right: 5%;
}

.home-img img {
  width: 100%;
}

/* Testomonials */

.testimonials {
  background: radial-gradient(rgb(3, 161, 0), rgb(40, 255, 8, 0));
  /* background: linear-gradient( 3deg,  rgb(50, 80, 50) , rgb(40, 100, 10), rgb(40, 150, 20)  ); */
  text-align: center;
  padding: 10px;
  height: 450px;
}

.carousel {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divbox {
  background-color: #bbafaf;
  border-radius: 10px;
  position: absolute;
  margin: 20px;
  padding: 10px;
  text-align: center;
  opacity: 0;
  will-change: transform, opacity;
  animation: carousel 15s linear infinite;
}

.divbox:nth-child(1) {
  animation-delay: -3s;
}

.divbox:nth-child(2) {
  animation-delay: 0;
}

.divbox:nth-child(3) {
  animation-delay: 3s;
}

.divbox:nth-child(4) {
  animation-delay: 6s;
}

.divbox:last-child {
  animation-delay: 9s;
}

/* Benefits */

.left {
  height: 600px;
  width: 50%;
  background-color: rgb(132, 185, 148);
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.video-dim {
  background-color: rgb(0, 1, 7);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 40px 40px 40px rgba(0, 0, 0, 0.250);
  transition: transform 0.5s, box-shadow 0.5s;
  opacity: 0;
  transform: scale(0.9);
  animation: fadeInZoom 2.2s ease-in-out forwards;
}

.video:hover {
  border-radius: 20px;
  transform: scale(1.1);
}

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.right {
  height: 600px;
  width: 50%;
  background-color: rgb(255, 119, 221);
  float: right;
  position: relative;
}

.qrcode {
  background: rgba(52,154,93,255);
  max-width: 320px;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 10px 10px 19px 19px rgb(0, 0, 0);
  text-align: center;
  position: absolute;  
  top: 50%;            
  left: 50%;           
  transform: translate(-50%, -50%); 
}

.qrcode p {
  margin-bottom: 10px;
  text-align: center;
  color: aliceblue;
  font-size: 20px;
}

.qrcode-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1px auto;
}

.ball{
  background-color: #23df73;
  width: 50%;
  height: 100%;
  position: absolute;
  border-radius: 40% 30% 0% 20%;
  top: 0;
  right: 0;
  z-index: 1;
}

footer {
  text-align: center;
  padding: 2px;
  background-color: rgb(13, 20, 18);
}


@keyframes carousel {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }

  3%,
  20% {
    /* 3, 100/total number of cards */
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }

  23%,
  40% {
    /* [(100/total number of cards) + 3], [(100/number of cards) * 2] */
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }

  43%,
  60% {
    /* [(100/total number of cards)*2 + 3], [(100/number of cards) * 3] */
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }

  63% {
    /* [(100/total number of cards) * 3] + 3 */
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }

  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width:785px) {
  .home {
    padding: 100px 2%;
    flex-direction: column;
    text-align: center;
    overflow: auto;
    align-items: center;
    gap: 2rem;
  }

  .home .text-h2 {
    font-size: 32px;
  }

  .home .text-h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .home p {
    font-size: 15px;
  }

  .home-img {
    width: 115%;
  }

  .home-img img {
    width: 80%;
  }

  .testimonials {
    padding: 10px;
    flex-direction: column;
    text-align: center;
    overflow: auto;
    gap: 30rem;
  }

  .carousel {
    flex-direction: column;
    height: 300px;
  }

  .benefits {
    display: block;
  }

  .left {
    width: 100%;
    float: none;
  }

  .video {
    max-width: 90%;
    /* Ajusta a largura máxima para telas menores */
    max-height: 90%;
    /* Ajusta a altura máxima para telas menores */
    object-fit: contain;
    /* Mantém o vídeo dentro do contêiner */
  }

  .video-dim {
    padding: 5px;
    /* Ajusta o padding para telas menores */
    border-radius: 16px;
    /* Ajusta o border-radius para telas menores */
    box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.2);
    /* Ajusta a sombra */
  }

  .video:hover {
    transform: scale(1.05);
    /* Ajusta o efeito de hover para telas menores */
  }

  .right {
    padding: 70px;
    width: 100%;
  }

  .qrcode {
    max-width: 100%;
    /* Ajusta a largura da div .qrcode */
    padding: 10px;
    /* Ajusta o padding para se adequar a telas menores */
    border-radius: 8px;
    /* Ajusta a borda para telas menores */
    box-shadow: 5px 5px 10px 10px rgb(0, 0, 0);
    /* Ajusta a sombra */
    margin: 8px auto;
    /* Ajusta a margem para manter a centralização */
  }

  .qrcode p {
    font-size: 18px;
    /* Reduz o tamanho da fonte para telas menores */
  }

  .qrcode-img {
    height: auto;
    /* Mantém a proporção da imagem */
  }
}