
.texts-login {
    display: flex;
    justify-content: space-between;
    margin: 0.5%;
}

.redefinir-senha {
    text-decoration: none;
    color: #2ea14d;
}

.redefinir-senha:hover{
    text-decoration: none;
    color: #2ea14d;
}

.center-google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img-login{
    width: 350px;
    margin: 0 auto;
}
  
.row-login{
    align-items: center;
    justify-content: center;
    text-align: left;
}

.voltar {
    text-decoration: none;
    display: flex;
    color: #2ea14d;
}

.voltar:hover {
    text-decoration: none;
    color: #065a1c;
}

.eye {
    margin: 0px;
    align-items: end;
}

.input-password-container {
    position: relative;
  }

  .eye-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

.input-login{
    margin-bottom: 10px;
}

