.texts-login {
    display: flex;
    justify-content: flex-end;
    margin: 0.5%;
    text-align: right;
}

.redefinir-senha {
    text-decoration: none;
    color: #2ea14d;
    margin-left: auto;
}

.redefinir-senha:hover {
    text-decoration: none;
    color: #2ea14d;
}


.img-login {
    width: 350px;
    margin: 0 auto;
}

.row-login {
    align-items: center;
    justify-content: center;
    text-align: left;
}

.texts-voltar {
    display: flex;
    justify-content: center;
}

.voltar {
    text-decoration: none;
    display: flex;
    color: #2ea14d;
}

.voltar:hover {
    text-decoration: none;
    color: #065a1c;
}


.input-login {
    margin-bottom: 10px;
}

.line-container {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}

.line {
    flex: 1;
    height: 1px;
    background-color: var(--ion-text-color);
    margin: 0 10px; 

}