@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Merriweather", serif;
    font-style: normal;
}

.home-buttons-icons {
    font-size: 50px;
    border: 3px solid;
    border-radius: 100%;
}


/* ion-button {
    --border-radius: 20px;
    --box-shadow: 5px 5px black;
    --border-color: #000;
    --border-style: solid;
    --border-width: 3px;
}

ion-card {
    border-radius: 20px;
    box-shadow: 5px 5px black;
    border: #000 solid 3px;
} */

.nome {
    margin-top: 0;
}

.dashboard {
    padding-left: 5px;
}

.card-button {
    --border-radius: 25px;
}

.card-1 {
    border-radius: 25px;
}

.select-mes {
    --width: 300px;
}

.select-month-btn {
    --border-radius: 25px;
}

.icon-select-month {
    margin-left: 3px;
}

.year-select{
    margin: 0px;
    height: 20px;
}