/* Inicial.css */
.text-inicial {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}


.bnt-login{
    margin-top: 1rem;
    height: 56%;
    width: 58%;
    font-size: 1.23em;
    --border-radius: 5px;
    
}

.row-inicial{
    margin-top: 4.5%; 
}


.content-inicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

a{
    font-size: 86%;
}

.img-inicial{
    width: 350px;
    margin: 0 auto;
}

.fazer-cadastro {
    text-decoration: none;
    justify-content: center;
    display: flex;
}

.fazer-cadastro:hover {
    text-decoration: none;
    color: #2ea14d;
}