.img-inicial {
    margin: 0 auto;
    width: 30vw;
    /* Ajuste o tamanho da imagem conforme necessário */
}

.btn-inicial {
    margin-top: 1rem;
}

ion-content > .btns-inicial {
    display: flex;
    justify-content: center;
}

