:root{
    --verde: rgb(41, 149, 117);
    --branco:rgb(255, 255, 255);
    --preto:rgb(25, 31, 27);
}

.header{
    color: var(--preto);
    background: var(--branco);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px;
    box-shadow: 0 0.1rem 0.5rem rgb(204, 204, 204);
    width: 100%;
    background: var(--branco);
    transition: all 0.5s;
    position: fixed;
}

.navigation .logo{
    color: var(--verde);
    font-size: 1.7rem;
    font-weight: 600;
}

.logo span{
    color: var(--preto);
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a{
    color: var(--preto);
    font-size: 32px;
    transition: 0.5s;
}

.navigation ul li a:hover{
    color: var(--verde);
}

.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}

.nav-menu{
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--branco);
    gap: -10px;
    transition: 0.3s;
}

.nav-menu.ativo{
    right: 0;
}

.nav-item{
    margin: 16px 0;
}

.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--preto);
    margin: 5px auto;
    transition: all 0.3s;
}

.menu{
    display: block;
}

.menu.ativo .bar:nth-child(1){
    transform:  translateY(8px) rotate(45deg);
}

.menu.ativo .bar:nth-child(2) {
    opacity: 0;
}

.menu.ativo .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-text{
    max-width: 37rem;
}

.home-text .text-h2{
    font-size: 2rem;
    color: var(--verde);
    margin-bottom: 1rem;
}

.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text p{
    margin-bottom: 4rem;
}

.home-cad{
    padding: 15px 45px;
    background: var(--verde);
    color: var(--branco);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}

.home-cad:hover{
    background: rgb(41, 189, 120);
}

.home-img{
    flex: 0 0 50%;
    margin-right: 5%;
}

.home-img img{
    width: 100%;
} 

@media (max-width:785px) {
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: auto;
        gap: 5rem;
    }
    .home .text-h2{
        font-size: 32px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 115%;
    }
} 

